<div class="dashboard-container">
  <div class="top-dashboard" *ngIf="!(loadingWeatherData$ | async) else loader;">
    <div *ngFor="let weatherData of weatherData$ | async">
      <app-city-weather-card [weatherData]="weatherData"
                             [selectedId]="(selectedCity$ | async)?.id"
                             (click)="selectCity( weatherData?.name, weatherData?.id, weatherData?.coord?.lat, weatherData?.coord?.lon)">
      </app-city-weather-card>
    </div>
  </div>
  <div class="bottom-dashboard" *ngIf="!(forecastLoadingWeatherData$ | async) else loader;">
    <div class="selected-header" *ngIf="selectedCity$ | async as city">
      <h2>{{city.name}}</h2>
    </div>
    <div class="selected-list">
      <div *ngFor="let hourlyWeather of forecastWeatherData$ | async">
        <app-hourly-weather-card [forecastHourly]="hourlyWeather"></app-hourly-weather-card>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
